src/main/resources/wsdl/PaymentService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ws.easypay.payphone/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="PaymentService" targetNamespace="http://ws.easypay.payphone/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ws.easypay.payphone/" elementFormDefault="unqualified" targetNamespace="http://ws.easypay.payphone/" version="1.0">

  <xs:element name="beginPayment" type="tns:beginPayment"/>

  <xs:element name="beginPaymentResponse" type="tns:beginPaymentResponse"/>

  <xs:element name="getPaymentMethods" type="tns:getPaymentMethods"/>

  <xs:element name="getPaymentMethodsResponse" type="tns:getPaymentMethodsResponse"/>

  <xs:element name="getPaymentStatus" type="tns:getPaymentStatus"/>

  <xs:element name="getPaymentStatusResponse" type="tns:getPaymentStatusResponse"/>

  <xs:element name="paymentFailExtra" type="tns:paymentFailExtra"/>

  <xs:element name="paymentMethod" type="tns:paymentMethod"/>

  <xs:element name="paymentOKExtra" type="tns:paymentOKExtra"/>

  <xs:element name="paymentRequest" type="tns:paymentRequest"/>

  <xs:element name="paymentStatus" type="tns:paymentStatus"/>

  <xs:element name="pendingOpenURLExtra" type="tns:pendingOpenURLExtra"/>

  <xs:element name="initOvo" type="tns:initOvo"/>

  <xs:element name="initOvoResponse" type="tns:initOvoResponse"/>

  <xs:element name="initGoPay" type="tns:initGoPay"/>

  <xs:element name="initGoPayResponse" type="tns:initGoPayResponse"/>

  <xs:element name="initVa" type="tns:initVa"/>

  <xs:element name="initVaResponse" type="tns:initVaResponse"/>

  <xs:complexType name="getPaymentMethods">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getPaymentMethodsResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:paymentMethod"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="paymentMethod">
    <xs:sequence>
      <xs:element minOccurs="0" name="paymentMethodId" type="xs:string"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="beginPayment">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:paymentRequest"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="paymentRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="paymentMethodId" type="xs:string"/>
      <xs:element minOccurs="0" name="amount" type="xs:decimal"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="beginPaymentResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getPaymentStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getPaymentStatusResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:paymentStatus"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="paymentStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="paymentId" type="xs:string"/>
      <xs:element minOccurs="0" name="status" type="tns:paymentStatusValue"/>
      <xs:element minOccurs="0" name="pendingOpenUrlExtra" type="tns:pendingOpenURLExtra"/>
      <xs:element minOccurs="0" name="okExtra" type="tns:paymentOKExtra"/>
      <xs:element minOccurs="0" name="failExtra" type="tns:paymentFailExtra"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="pendingOpenURLExtra">
    <xs:sequence>
      <xs:element minOccurs="0" name="url" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="paymentOKExtra">
    <xs:sequence>
      <xs:element minOccurs="0" name="amount" type="xs:decimal"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="paymentFailExtra">
    <xs:sequence>
      <xs:element minOccurs="0" name="reason" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="paymentStatusValue">
    <xs:restriction base="xs:string">
      <xs:enumeration value="IN_PROGRESS"/>
      <xs:enumeration value="PENDING_OPEN_URL"/>
      <xs:enumeration value="OK"/>
      <xs:enumeration value="FAIL"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="initOvo">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:ovoPaymentRequest"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="ovoPaymentRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="amount" type="xs:decimal"/>
      <xs:element minOccurs="0" name="id" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="initOvoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="initGoPay">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:goPayPaymentRequest"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="goPayPaymentRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="amount" type="xs:decimal"/>
      <xs:element minOccurs="0" name="id" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="initGoPayResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="initVa">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:vaPaymentRequest"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="vaPaymentRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="amount" type="xs:decimal"/>
      <xs:element minOccurs="0" name="id" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="initVaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="getPaymentMethods">
    <wsdl:part element="tns:getPaymentMethods" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="beginPayment">
    <wsdl:part element="tns:beginPayment" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPaymentStatus">
    <wsdl:part element="tns:getPaymentStatus" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPaymentMethodsResponse">
    <wsdl:part element="tns:getPaymentMethodsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPaymentStatusResponse">
    <wsdl:part element="tns:getPaymentStatusResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="beginPaymentResponse">
    <wsdl:part element="tns:beginPaymentResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="initOvo">
    <wsdl:part element="tns:initOvo" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="initOvoResponse">
    <wsdl:part element="tns:initOvoResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="initGoPay">
    <wsdl:part element="tns:initGoPay" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="initGoPayResponse">
    <wsdl:part element="tns:initGoPayResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="initVa">
    <wsdl:part element="tns:initVa" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="initVaResponse">
    <wsdl:part element="tns:initVaResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PaymentService">
    <wsdl:operation name="getPaymentMethods">
      <wsdl:input message="tns:getPaymentMethods" name="getPaymentMethods">
    </wsdl:input>
      <wsdl:output message="tns:getPaymentMethodsResponse" name="getPaymentMethodsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="beginPayment">
      <wsdl:input message="tns:beginPayment" name="beginPayment">
    </wsdl:input>
      <wsdl:output message="tns:beginPaymentResponse" name="beginPaymentResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPaymentStatus">
      <wsdl:input message="tns:getPaymentStatus" name="getPaymentStatus">
    </wsdl:input>
      <wsdl:output message="tns:getPaymentStatusResponse" name="getPaymentStatusResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="initOvo">
      <wsdl:input message="tns:initOvo" name="initOvo">
      </wsdl:input>
      <wsdl:output message="tns:initOvoResponse" name="initOvoResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="initGoPay">
      <wsdl:input message="tns:initGoPay" name="initGoPay">
      </wsdl:input>
      <wsdl:output message="tns:initGoPayResponse" name="initGoPayResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="initVa">
      <wsdl:input message="tns:initVa" name="initVa">
      </wsdl:input>
      <wsdl:output message="tns:initVaResponse" name="initVaResponse">
      </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PaymentServiceSoapBinding" type="tns:PaymentService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getPaymentMethods">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getPaymentMethods">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPaymentMethodsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="beginPayment">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="beginPayment">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="beginPaymentResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPaymentStatus">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getPaymentStatus">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPaymentStatusResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="initOvo">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="initOvo">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="initOvoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="initGoPay">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="initGoPay">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="initGoPayResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="initVa">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="initVa">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="initVaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PaymentService">
    <wsdl:port binding="tns:PaymentServiceSoapBinding" name="payment">
      <soap:address location="http://167.205.35.211:8080/easypay/PaymentService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
